{% extends 'farm/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="heading-primary mb-5">
        <p class="heading-primary--text">Manage new farm</p>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-success">Add Farm</button>
        </div>
    </form>
</div>


{% endblock content %}
