{% extends 'farm/base.html' %}

{% block content %}

<header class="header">
    <!--<div class="header__logo-box">-->
        <!--<img src="logo-white.png" alt="Logo" class="header__logo">-->
    <!--</div>-->

    <div class="header__text-box">

        <h1 class="heading-primary-home">
            <span class="heading-primary--main">Digitized Kisaan</span>
            <!--<span class="heading-primary&#45;&#45;sub">Is where life happens</span>-->
        </h1>

        <a href="{% url 'profile' %}" class="btn-home btn--white btn--animated">Dashboard</a>

    </div>

</header>

{% endblock content %}