{% extends 'farm/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">

    <div class="heading-primary mb-5">
        <p class="heading-primary--text">Password reset sent</p>
    </div>

    <div>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.
        </p>
    </div>
</div>

{% endblock content %}