{% extends 'farm/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="heading-primary mb-5">
        <p class="heading-primary--text">Login</p>
    </div>

    {% if request.user.is_authenticated %}
    <p>You are already Logged In</p>
    {% else %}
    <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-success">Sign In</button>
            <a href="{% url 'reset_password' %}" class="btn btn-success">Forgot Password?</a>
        </div>
    </form>
    {% endif %}

</div>

{% endblock content %}